# Données et sorties lourdes
data/

# Cache Jupyter & Python
.ipynb_checkpoints/
__pycache__/
*.pyc

# Cache PyTest
.pytest_cache/

# Métadonnées & Logs Spark / Java
*.log
.sparkStaging/

# Docker & Environnement local
.env
.vscode/
.idea/